button{
	width: 159px;
	height: 129px;
	color: white;
	font-size: 150%;
	padding: 30;
	text-align: center;
}

ul{
	list-style: none;
	margin: 100px;
	padding: 1;
}

li{
	display: inline;
	margin: 30px;
}

#table{
	text-align: center;
	background-color: white;
	opacity: 0.7;
}

body{
	background-color: white;
	background-image: url("/images/table_resize.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

h1{
	text-align: center;
	background-color: white;
	opacity: 0.7;
	font-family: "Courier New", Courier, monospace;
}

#setting{
	text-align: right;
	padding-right: 20px;
	padding-top: 10px;
}

#header{
	background-color: white;
	opacity: 0.7;
}

#comment{
	background-color: white;
	opacity: 0.8;
}


#footer{
	position: relative;
	margin-top: 350px;
	clear: both;
}