h2{
	color: red;
}

body{
	color: white;
	text-align: center;
	background-image: url("/images/cover2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "Courier New", Courier, monospace;
}

table{
	text-align: center;
}

.login{
	position: absolute;
	left: 41%;
	top: 65%;
}
